@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

html{
  scroll-behavior:smooth;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #668586;
  font-size: 4em;
  color: white;
}
a {
  color: inherit;
  font-family: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}

/* Sections */
#about{
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 10%
  margin-top: 0px;
  background: #668586;
  display: inline-block;
}
#projects, #interests, #experience {
  height: auto !important;
  position: relative;
  width: 100%
}
#projects {
  background: #82AEB1;
  width: 100%;
  padding-top: 20%;
  padding-bottom: 20%;
}
#interests {
  background: #A7ACD9;
  width: 100%;
}
#experience {
  background: #9E8FB2;
  width: 100%;
}

/* NAVIGATION */
.nav {
  float: right;
  position: relative;
  padding: 10px 20px 0px 10px;
  margin-top: 5px;
  margin-right: 5px;
  display: block;
  font-size: 20%;
  background: #668586;
}
.nav ul {
  list-style:none;
  display: block;
  padding: 5%;
}
.nav li{
  t: 700;
  display: block;
}
.nav li a:hover {
  color: #82AEB1;
}

/* FADE ON HOVER */
.fadelink {
  transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
}
.fadelink:hover {
  color: #82AEB1;
}

/* TOP PAGE */
#about .content {
  padding-top: 10%; /* Smaller screens 15%*/
  padding-bottom: 10%;
  padding-right: 10%;
  padding-left: 10%;
}
.heading {
  text-align: center;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 6px;
  line-height: 1;
  text-decoration: none;
}
.subheading {
  font-size: 30%;
  padding-top: 1%;
  text-align: center;
}
.socials{
  text-align: center;
  line-height: 1;
}
.initials{
  padding: 0% 0% 0% 20px;
  font-size: 100%;
  font-weight: 700;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
}
.icon {
  width: 30px;
  height: 30px;
  transition: all 0.25s cubic-bezier(.53,.01,.35,1.5);
  filter: brightness(0) invert(1);
}
.icon:hover{
  width: 35px;
  height: 35px;
}

/* EXPERIENCE */
.fnnslides {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  width: 90%;
  box-shadow: 4px 4px 5px grey;
}
.title {
  font-size:30px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  letter-spacing: 5px;
}
.description {
  line-height: 1;
  font-size: 15px;
  padding-top: 2%;
  font-weight: normal;
  text-align: center;
}
.row {
  margin: 0;
  padding: 10% 5% 10% 5%;
}
.name {
  position: relative;
}
#projects .content {

}
